.App{
    width: 100vw;
    min-height: 100vh;
    background-color: #eee;
    padding: 32px;
    box-sizing: border-box;
}

.container{
    border-radius: 6px;
    max-width: 350px;
    background-color: #fff;
    padding: 16px;
    margin: 20px auto;

}

.title{
    text-align: center;
    color: #6B5EBF;
}

.line{
    margin: 10px 0px;  
}

.lists{
    border-radius: 6px;
    border: 1px dotted #ddd;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.list-item{
    padding: 16px;
    margin: 8px;
    background-color: aliceblue;
    border-radius: 10px;
}